@{
    ViewData["Title"] = "Lugar del Evento";
}
<h2 style="color:white; text-align:center; padding:20px;" >@ViewData["Title"]</h2>

<section class="mbr-section article content3 cid-qYAAStvohx" id="content3-5">
    <div class="container">
        <div class="media-container-row">
            <div class="row col-12 col-md-12">
                <div class="col-12 col-md-6 pr-lg-4 mbr-text mbr-fonts-style display-8">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d981.1903535176714!2d-84.50927537346195!3d10.360952192604266!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa06e6f0beb0529%3A0x836db9a669287e06!2sCentro+de+Transferencia+Tecnolog%C3%ADa+y+Educaci%C3%B3n+Continua!5e0!3m2!1ses-419!2scr!4v1532314426693" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>


               
                <div class="col-12 col-md-4 pr-lg-4 mbr-text mbr-fonts-style display-8">


                    <div id="content-container-pro">
                        <p><img src="/css/Content/images/ctec.png" alt="SCTSummit 2018" media-simple="true" height="100%" width="100%"> </p>
                        <p>Desde su primera edición en el año 2012, el CTEC ha sido el escenario del Encuentro Tecnológico San Carlos Technology Summit. Sus modernas instalaciones se encuentran ubicadas en el campus del Instituto Tecnológico de Costa Rica, ubicado en Santa Clara de San Carlos.</p>
                        <p><strong>Tiempos de Viaje y Distancias</strong></p>
                        <p>
                            Ciudad Quesada – 25 min (15 Km)<br>
                            La Fortuna – 40 min (30 km)<br>
                            San José – 2 hr (100 km)
                        </p>
                        <p><strong><span class="waze-label">Enviar ubicación con</span></strong></p>

                        <p><strong>Recomendaciones de Hospedaje</strong></p>
                        <p>La organización del SCT Summit 2017 recomienda los siguientes hoteles:</p>
                        <p>
                            <a style="color:#DD6413" href="http://www.arenalcountryinn.com/" target="_blank" rel="noopener">Arenal Country Inn</a><br>
                            <a style="color:#DD6413" href="http://www.arenalrabfer.com/" target="_blank" rel="noopener">Arenal Rabfer</a><br>
                            <a style="color:#DD6413" href="http://www.casalunahotel.com/es" target="_blank" rel="noopener">Casa Luna Hotel &amp; Spa</a><br>
                            <a style="color:#DD6413" href="http://lascolinasarenal.com/" target="_blank" rel="noopener">Hotel Las Colinas</a><br>
                            <a style="color:#DD6413" href="http://www.legacyboutiquehotel.com/" target="_blank" rel="noopener">Legacy Boutique Hotel</a><br>
                            <a style="color:#DD6413" href="https://www.montanadefuego.com/" target="_blank" rel="noopener">Montaña de Fuego</a><br>
                            <a style="color:#DD6413" href="https://ranchohermanoslopez.com/" target="_blank" rel="noopener">REHL Hotel&nbsp;</a><br>
                            <a style="color:#DD6413" href="http://www.terravivahotel.com/" target="_blank" rel="noopener">Terra Viva Hotel</a><br>
                            <a style="color:#DD6413" href="http://www.tilajari.com/" target="_blank" rel="noopener">Tilajari Hotel Resort &amp; Conference Center</a>
                        </p>
                    

                    
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>

    <address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
