@{
    ViewData["Title"] = "Inicio";
}

<div class="row" style="display:flex; justify-content:center; align-items:center">

    <img src="/css/Content/images/logo2.png" alt="SCTSummit 2018" media-simple="true" > 
    <div><h1 style="color:white; padding:10px">SCTSUMMIT 2018</h1>
        </div>
</div>

<div class="row" style="display:flex; justify-content:center; align-items:center; ">

    <div class="mbr-section-btn align-center py-2">

        <a class="btn btn-md btn-primary" href="~/Home/Error404">Charlas</a>
        <a class="btn btn-md btn-primary" href="~/Home/Error404">Ponencias</a>
        <a class="btn btn-md btn-primary" href="~/Home/Error404">Talleres</a>

    </div>
    
</div>

<section  style="margin-top:50px" class ="mbr-section article content3 cid-qYAAStvohx" id="content3-5">

    <section  style="height:1000px" class="section-table cid-qYARtkh4v5" id="table1-6">


        <div class="container container-table">


            <div class="table-wrapper">
                <div class="container">
                    <div class="row search">
                        <div class="col-md-6"></div>
                        <div class="col-md-6">
                            <div class="dataTables_filter">
                                <label class="searchInfo mbr-fonts-style display-7">Buscar:</label>
                                <input class="form-control input-sm" disabled="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container scroll">
                    <table class="table isSearch" cellspacing="3">
                        <thead>
                            <tr class="table-heads ">




                                <th class="head-item mbr-fonts-style display-7">
                                    Lugar
                                </th>
                                <th class="head-item mbr-fonts-style display-7">
                                    Actividad
                                </th>
                                <th class="head-item mbr-fonts-style display-7">
                                    Hora
                                </th>
                                <th class="head-item mbr-fonts-style display-7">
                                    Encargado
                                </th>
                            </tr>
                        </thead>
                        <tbody>




                            <tr>
                                <td class="body-item mbr-fonts-style display-7">Jacaranda</td>
                                <td class="body-item mbr-fonts-style display-7">Inauguración</td>
                                <td class="body-item mbr-fonts-style display-7">22 de julio 2018 </td>
                                <td class="body-item mbr-fonts-style display-7">Ever Leitón</td>
                            </tr><tr>
    <td class="body-item mbr-fonts-style display-7">Jacaranda</td>
    <td class="body-item mbr-fonts-style display-7">Inauguración</td>
    <td class="body-item mbr-fonts-style display-7">22 de julio 2018 </td>
    <td class="body-item mbr-fonts-style display-7">Ever Leitón</td>
</tr><tr>
    <td class="body-item mbr-fonts-style display-7">Jacaranda</td>
    <td class="body-item mbr-fonts-style display-7">Inauguración</td>
    <td class="body-item mbr-fonts-style display-7">22 de julio 2018 </td>
    <td class="body-item mbr-fonts-style display-7">Ever Leitón</td>
</tr><tr>
    <td class="body-item mbr-fonts-style display-7">Jacaranda</td>
    <td class="body-item mbr-fonts-style display-7">Inauguración</td>
    <td class="body-item mbr-fonts-style display-7">22 de julio 2018 </td>
    <td class="body-item mbr-fonts-style display-7">Ever Leitón</td>
</tr><tr>
    <td class="body-item mbr-fonts-style display-7">Jacaranda</td>
    <td class="body-item mbr-fonts-style display-7">Inauguración</td>
    <td class="body-item mbr-fonts-style display-7">22 de julio 2018 </td>
    <td class="body-item mbr-fonts-style display-7">Ever Leitón</td>
</tr><tr>
    <td class="body-item mbr-fonts-style display-7">Jacaranda</td>
    <td class="body-item mbr-fonts-style display-7">Inauguración</td>
    <td class="body-item mbr-fonts-style display-7">22 de julio 2018 </td>
    <td class="body-item mbr-fonts-style display-7">Ever Leitón</td>
</tr><tr>
    <td class="body-item mbr-fonts-style display-7">Jacaranda</td>
    <td class="body-item mbr-fonts-style display-7">Inauguración</td>
    <td class="body-item mbr-fonts-style display-7">22 de julio 2018 </td>
    <td class="body-item mbr-fonts-style display-7">Ever Leitón</td>
</tr><tr>
    <td class="body-item mbr-fonts-style display-7">Jacaranda</td>
    <td class="body-item mbr-fonts-style display-7">Inauguración</td>
    <td class="body-item mbr-fonts-style display-7">22 de julio 2018 </td>
    <td class="body-item mbr-fonts-style display-7">Ever Leitón</td>
</tr><tr>
    <td class="body-item mbr-fonts-style display-7">Jacaranda</td>
    <td class="body-item mbr-fonts-style display-7">Inauguración</td>
    <td class="body-item mbr-fonts-style display-7">22 de julio 2018 </td>
    <td class="body-item mbr-fonts-style display-7">Ever Leitón</td>
</tr><tr>
    <td class="body-item mbr-fonts-style display-7">Jacaranda</td>
    <td class="body-item mbr-fonts-style display-7">Inauguración</td>
    <td class="body-item mbr-fonts-style display-7">22 de julio 2018 </td>
    <td class="body-item mbr-fonts-style display-7">Ever Leitón</td>
</tr>


     <tr>
         <td class="body-item mbr-fonts-style display-7">Jacaranda</td>
         <td class="body-item mbr-fonts-style display-7">Inauguración</td>
         <td class="body-item mbr-fonts-style display-7">22 de julio 2018 </td>
         <td class="body-item mbr-fonts-style display-7">Ever Leitón</td>
     </tr><tr>
    <td class="body-item mbr-fonts-style display-7">Jacaranda</td>
    <td class="body-item mbr-fonts-style display-7">Inauguración</td>
    <td class="body-item mbr-fonts-style display-7">22 de julio 2018 </td>
    <td class="body-item mbr-fonts-style display-7">Ever Leitón</td>
</tr><tr>
    <td class="body-item mbr-fonts-style display-7">Jacaranda</td>
    <td class="body-item mbr-fonts-style display-7">Inauguración</td>
    <td class="body-item mbr-fonts-style display-7">22 de julio 2018 </td>
    <td class="body-item mbr-fonts-style display-7">Ever Leitón</td>
</tr>
                        </tbody>
                    </table>
                </div>
                <div class="container table-info-container">
                    <div class="row info">
                        <div class="col-md-6">
                            <div class="dataTables_info mbr-fonts-style display-7">
                                <span class="infoBefore">Mostrando</span>
                                <span class="inactive infoRows"></span>
                                <span class="infoAfter">entradas</span>
                                <span class="infoFilteredBefore">(filtado de</span>
                                <span class="inactive infoRows"></span>
                                <span class="infoFilteredAfter"> total de entradas)</span>
                            </div>
                          
                        </div>
                        <div class="col-md-6"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</section>
<
