<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SCTSummit 2018</title>

    <environment include="Development">


        <link rel="stylesheet" href="~/css/Content/web/assets/mobirise-icons/mobirise-icons.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700">
        <link rel="stylesheet" href="~/css/Content/tether/tether.min.css">
        <link rel="stylesheet" href="~/css/Content/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/css/Content/bootstrap/css/bootstrap-reboot.min.css">
        <link rel="stylesheet" href="~/css/Content/bootstrap/css/bootstrap-grid.min.css">
        <link rel="stylesheet" href="~/css/Content/soundcloud-plugin/style.css">
        <link rel="stylesheet" href="~/css/Content/dropdown/css/style.css">
        <link rel="stylesheet" href="~/css/Content/socicon/css/styles.css">
        <link rel="stylesheet" href="~/css/Content/theme/css/style.css">
        <link rel="stylesheet" href="~/css/Content/mobirise/css/mbr-additional.css" type="text/css">



        <link rel="stylesheet" href="~/css/Content/assetsTABLE/tether/tether.min.css">
        <link rel="stylesheet" href="~/css/Content/assetsTABLE/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/css/Content/assetsTABLE/bootstrap/css/bootstrap-grid.min.css">
        <link rel="stylesheet" href="~/css/Content/assetsTABLE/bootstrap/css/bootstrap-reboot.min.css">
        <link rel="stylesheet" href="~/css/Content/assetsTABLE/datatables/data-tables.bootstrap4.min.css">
        <link rel="stylesheet" href="~/css/Content/assetsTABLE/theme/css/style.css">
        <link rel="stylesheet" href="~/css/Content/assetsTABLE/mobirise/css/mbr-additional.css" type="text/css">


    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />

        <link rel="stylesheet" href="~/css/Content/web/Content/mobirise-icons/mobirise-icons.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700">
        <link rel="stylesheet" href="~/css/Content/tether/tether.min.css">
        <link rel="stylesheet" href="~/css/Content/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/css/Content/bootstrap/css/bootstrap-reboot.min.css">
        <link rel="stylesheet" href="~/css/Content/bootstrap/css/bootstrap-grid.min.css">
        <link rel="stylesheet" href="~/css/Content/soundcloud-plugin/style.css">
        <link rel="stylesheet" href="~/css/Content/dropdown/css/style.css">
        <link rel="stylesheet" href="~/css/Content/socicon/css/styles.css">
        <link rel="stylesheet" href="~/css/Content/theme/css/style.css">

        <link rel="stylesheet" href="~/css/Content/mobirise/css/mbr-additional.css" type="text/css">

        <link rel="stylesheet" href="~/css/Content/assetsTABLE/tether/tether.min.css">
        <link rel="stylesheet" href="~/css/Content/assetsTABLE/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/css/Content/assetsTABLE/bootstrap/css/bootstrap-grid.min.css">
        <link rel="stylesheet" href="~/css/Content/assetsTABLE/bootstrap/css/bootstrap-reboot.min.css">
        <link rel="stylesheet" href="~/css/Content/assetsTABLE/datatables/data-tables.bootstrap4.min.css">
        <link rel="stylesheet" href="~/css/Content/assetsTABLE/theme/css/style.css">
        <link rel="stylesheet" href="~/css/Content/assetsTABLE/mobirise/css/mbr-additional.css" type="text/css">
    </environment>
</head>
<body>

    <section class="menu cid-qtXGRKyId1" once="menu" id="menu1-82" data-rv-view="6865">

        <nav class="navbar navbar-dropdown beta-menu align-items-center navbar-fixed-top navbar-toggleable-sm bg-color ">
            <div class="menu-bottom" style="width:100%">
                <div class="menu-logo"  style="display:flex; justify-content:space-between; justify-content:center; align-content:center; align-items:center;" >
                    <div class="navbar-brand">
                        <span class="navbar-caption-wrap">
                            <a href="/Home/Index" class="brand-link mbr-white">
                                <img src="~/css/Content/images/logo2.png" alt="SCTSummit 2018" media-simple="true" style="height: 50px;">  
                            </a>
                        </span>
                    </div>
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <div class="hamburger">
                            <span></span>
                           <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav nav-dropdown js-float-line" data-app-modern-menu="true">
                        <li class="nav-item">
                            <a class="nav-link link mbr-white display-4" href="/Home/Index">Inicio<br></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link mbr-white display-4" href="/Home/Contact">Lugar del Evento<br></a>
                        </li>
                        <li class="nav-item dropdown open">
                            <a class="nav-link link mbr-white dropdown-toggle display-4" href="Home/About" data-toggle="dropdown-submenu" aria-expanded="true">
                                MÁS
                            </a>
                            <div class="dropdown-menu">
                                <a class="mbr-white dropdown-item display-4" href="~/Home/Error404">CHARLAS</a>
                                <a class="mbr-white dropdown-item display-4" href="~/Home/Error404">PONENCIAS</a>
                                <a class="mbr-white dropdown-item display-4" href="~/Home/Error404">TALLERES</a>
                            </div>
                        </li>
                    </ul>

                    @await Html.PartialAsync("_LoginPartial")

                </div>
            </div>
        </nav>
    </section>
    <section class="cid-qsWtun9kLE " >

        <div class="container body-content">
            @RenderBody()
            <hr />
            <section class="cid-qsWu5jb9v0" id="footer1-2e" data-rv-view="6891">

                <div class="container">
                    <div class="media-container-row">
                        <div class="col-md-4 col-lg-4 logo-footer mb-3 mt-3 align-center">
                            <img class="img-logo-footer" src="~/css/Content/images/logo2.png" alt="SCTSummit" media-simple="true">
                            <p class="text-logo-footer mbr-fonts-style mb-0 display-5">SCTSummit 2018</p>
                        </div>
                        <div class="col-md-4 col-lg-5 copyright mb-3 mt-3">
                            <p class="mb-0 text-copyright mbr-fonts-style display-7">
                                © Copyright 2018 SCTSummit 2018 - All Rights Reserved
                            </p>
                        </div>
                        <div class="social-list pl-0 mb-0 col-md-4 col-lg-3 align-center social-btns mb-3 mt-3">
                            <a href="https://twitter.com/sctsummit" target="_blank">
                                <span class="px-2 socicon-twitter socicon mbr-iconfont mbr-iconfont-social" media-simple="true"></span>
                            </a>
                            <a href="https://www.facebook.com/pages/sctsummit" target="_blank">
                                <span class="px-2 socicon-facebook socicon mbr-iconfont mbr-iconfont-social" media-simple="true"></span>
                            </a>
                            <a href="https://instagram.com/sctsummit" target="_blank">
                                <span class="px-2 socicon-instagram socicon mbr-iconfont mbr-iconfont-social" media-simple="true"></span>
                            </a>
                            <a href="https://www.youtube.com/c/sctsummit" target="_blank">
                            </a>

                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>



        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/css/Content/web/assets/jquery/jquery.min.js"></script>
        <script src="~/css/Content/popper/popper.min.js"></script>
        <script src="~/css/Content/tether/tether.min.js"></script>
        <script src="~/css/Content/bootstrap/js/bootstrap.min.js"></script>
        <script src="~/css/Content/smooth-scroll/smooth-scroll.js"></script>
        <script src="~/css/Content/dropdown/js/script.min.js"></script>
        <script src="~/css/Content/touch-swipe/jquery.touch-swipe.min.js"></script>
        <script src="~/css/Content/jarallax/jarallax.min.js"></script>
        <script src="~/css/Content/social-likes/social-likes.js"></script>
        <script src="~/css/Content/theme/js/script.js"></script>
        <script src="~/css/Content/theme/js/script.js"></script>



        <script src="~/css/Content/assetsTABLE/popper/popper.min.js"></script>
        <script src="~/css/Content/assetsTABLE/tether/tether.min.js"></script>
        <script src="~/css/Content/assetsTABLE/bootstrap/js/bootstrap.min.js"></script>
        <script src="~/css/Content/assetsTABLE/smoothscroll/smooth-scroll.js"></script>
        <script src="~/css/Content/assetsTABLE/datatables/jquery.data-tables.min.js"></script>
        <script src="~/css/Content/assetsTABLE/datatables/data-tables.bootstrap4.min.js"></script>
        <script src="~/css/Content/assetsTABLE/theme/js/script.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="~/css/Content/web/assets/jquery/jquery.min.js"></script>
        <script src="~/css/Content/popper/popper.min.js"></script>
        <script src="~/css/Content/tether/tether.min.js"></script>
        <script src="~/css/Content/bootstrap/js/bootstrap.min.js"></script>
        <script src="~/css/Content/smooth-scroll/smooth-scroll.js"></script>
        <script src="~/css/Content/dropdown/js/script.min.js"></script>
        <script src="~/css/Content/touch-swipe/jquery.touch-swipe.min.js"></script>
        <script src="~/css/Content/jarallax/jarallax.min.js"></script>
        <script src="~/css/Content/social-likes/social-likes.js"></script>

        <script src="~/css/Content/assetsTABLE/popper/popper.min.js"></script>
        <script src="~/css/Content/assetsTABLE/tether/tether.min.js"></script>
        <script src="~/css/Content/assetsTABLE/bootstrap/js/bootstrap.min.js"></script>
        <script src="~/css/Content/assetsTABLE/smoothscroll/smooth-scroll.js"></script>
        <script src="~/css/Content/assetsTABLE/datatables/jquery.data-tables.min.js"></script>
        <script src="~/css/Content/assetsTABLE/datatables/data-tables.bootstrap4.min.js"></script>
        <script src="~/css/Content/assetsTABLE/theme/js/script.js"></script>

        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="~/css/Content/theme/js/script.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
